{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style></style>
{% endblock %}

{% block title %}Page d'acceuil
{% endblock %}

{% block body %}

	<header>
		<div class="px-3 py-2 border-bottom mb-3">
			<div class="container-fluid">
				<div class="row">
					<div class="col-3">
						<ul class="nav justify-content-center">
							<li>
								<img src="https://clipart-library.com/new_gallery/1-16054_longhorn-skull-images-cute-skull-clip-art.png" height="40" alt="Logo" loading="lazy"/>
							</li>

						</ul>
					</div>
					<form class="col-6 offset-1" role="search">
						<div class="input-group">
							<a href="{{ path('app_post_new') }}">
								<button type="button" class="btn btn-dark rounded-3 me-2 m-2">Poster</button>
							</a>


							<button type="button" class="btn btn-light text-dark rounded-3 me-2 m-2" href="{{ path('app_login') }}">
								<small>Connexion</small>
							</button>
							<button type="button" class="btn btn-dark rounded-3 m-2" href="{{ path('app_register') }}">
								<small>Inscription</small>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>
	<div class="album">
		<div class="container-fluid mt-2 p-5">
			<div class="row mb-5 p-5">
				{% for post in posts %}
					<div class="col-3 mb-5">
						<a href="{{ path('app_post_show', {'id': post.id}) }}">

							<div class="card border-0">
								<img src="{{ asset('img/Post/' ~ post.picture) }}" class="card-img-top rounded-5" alt="post thumbnail">
								<div class="card-body p-4 border-bottom rounded-bottom-5 border-start border-end">
									<p class="card-text fw-bold">{{ post.title }}</p>
									<div class="d-flex justify-content-between align-items-center">
										<p class="small text-secondary text-break">
											{{ post.description }}
										</p>
										{# <p class="text-body-secondary small">{{ post.timeCode }} min</p> #}
									</div>
									<p class="card-text fw-bold d-flex justify-content-end">{{ post.price }}€</p>

								</div>
								{% if app.user %}
									<form class="text-center mt-3" method="post" action="{{ path('app_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
										<button class="btn btn-sm btn-danger">Delete</button>
									</form>
								{% endif %}
							</div>
						</a>

					</div>
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}

